{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h3>{{ name }}</h3>
    <h4>Level: {{ level }}</h4>
    <h4>Time: {{ time }}</h4>
    <p>
        <a href="/addcourse/" class="link">Create Another Course</a><br>
        <a href="/courses/" class="link">View All Courses</a><br>
        <a href="/courses/Beginner" class="link">View Beginner Courses</a><br>
        <a href="/courses/Intermediate" class="link">View Intermediate Courses</a><br>
        <a href="/courses/Advanced" class="link">View Advanced Courses</a><br>
    </p>
</body>
</html>