{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Creator</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>Add New Course: </h1>
    <form action="/addcourse/" method="POST">
        {% csrf_token %}
        <label for="name">Course Name: </label>
        <input id="name" type="text" name="name">
        <label for="level">Course Level: </label>
        <select id="level" name="level">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
        </select>
        <label for="time">Course Time: </label>
        <input id="time" type="number" name="time">
        <button type="submit">Add Course</button>
    </form>
</body>
</html>