{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>Home Page</h1>
    <h2>{{ element }}</h2>
    <h3>Hello {{ name }}</h3>
    <p>
        Welcome to a website made with Django!
    </p>
    <h4>Links: </h4>
    <p>
        <a href="/calc/" class="link">Calculator</a><br>
    </p>
</body>
</html>