{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <form action="/register/" method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Age: <input type="number" name="age"></p>
        <input type="submit" value="Register">
    </form>
</body>
</html>